/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background:#4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 30px;
    text-align: center;
}

.logo {
    width: 80px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 1.5rem;
    color: rgb(30, 27, 27);
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #333;
}

.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
}

.captcha {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.captcha input {
    transform: scale(1.2);
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #45a049;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
    font-size: 0.9rem;
}

.forgot-password:hover {
    text-decoration: underline;
}
